@import "./navigation.css";
@import "./posts.css";
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-primary: #88c0d0;
  --color-secondary: #81a1c1;
  --color-accent: #5e81ac;
  --color-neutral: #3b4252;
  --color-base-100: #2e3440;
  --color-info: #88c0d0;
  --color-success: #a3be8c;
  --color-warning: #ebcb8b;
  --color-error: #bf616a;
}

[data-theme="nord"] {
  --color-base-100: #2e3440;
  --color-base-200: #3b4252;
  --color-base-300: #434c5e;
  --color-base-content: #d8dee9;
  --color-primary: #88c0d0;
  --color-primary-content: #2e3440;
  --color-secondary: #81a1c1;
  --color-secondary-content: #2e3440;
  --color-accent: #5e81ac;
  --color-accent-content: #d8dee9;
  --color-neutral: #3b4252;
  --color-neutral-content: #d8dee9;
  --color-info: #88c0d0;
  --color-info-content: #2e3440;
  --color-success: #a3be8c;
  --color-success-content: #2e3440;
  --color-warning: #ebcb8b;
  --color-warning-content: #2e3440;
  --color-error: #bf616a;
  --color-error-content: #d8dee9;
}

[data-theme="nord-light"] {
  --color-base-100: #eceff4;
  --color-base-200: #e5e9f0;
  --color-base-300: #d8dee9;
  --color-base-content: #2e3440;
  --color-primary: #5e81ac;
  --color-primary-content: #eceff4;
  --color-secondary: #81a1c1;
  --color-secondary-content: #eceff4;
  --color-accent: #88c0d0;
  --color-accent-content: #2e3440;
  --color-neutral: #d8dee9;
  --color-neutral-content: #2e3440;
  --color-info: #5e81ac;
  --color-info-content: #eceff4;
  --color-success: #8fbcbb;
  --color-success-content: #2e3440;
  --color-warning: #ebcb8b;
  --color-warning-content: #2e3440;
  --color-error: #bf616a;
  --color-error-content: #eceff4;
}