<div class="chat {% if isOwnMessage %}chat-start{% else %}chat-end{% endif %}">
    {% if show_header %}
    <div class="chat-header">
        <span style="color: {{ userColor }};">{{ username }}</span>
        <time class="text-xs opacity-50">{{ timestamp }}</time>
    </div>
    {% endif %}
    {% if isOwnMessage %}
    <div class="chat-bubble chat-bubble-primary">
        {{ content | markdown | safe }}
    </div>
    {% else %}
    <div class="chat-bubble chat-bubble-secondary">
        {{ content | markdown | safe }}
    </div>
    {% endif %}
</div>
